body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #add8e6; 
}

header {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; 
}

nav li {
  display: inline;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #808080; 
}

main {
  padding: 20px;
}

#content-box {
  background-color: #fff; 
  padding: 20px;
  border-radius: 10px; 
  height: 800px;
  width: 80%; 
  margin: auto; 
  display: flex;
  flex-direction: column;
  text-align: left;
}

#content-box h2 {
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 650px) {
  nav {
      flex-direction: column;
      align-items: center;
  }

  nav li {
      display: block;
      margin: 10px 0;
  }
}
